<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url Shortener</title>
</head>
<body>
    <% if (locals.newUrl != null) { %>
        <div style="margin-bottom: 1rem;">
            Your new url:
            <a href="<%= locals.newUrl %>"><%= locals.newUrl %></a>
        </div>
    <% } %>
    <form action="/generate" method="post">
        <label for="url">Url:</label>
        <input type="text" id="url" name="urlName" required />
        <button type="submit">Shorten</button>
    </form>
</body>
</html>